<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Manager</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!-- ICONS FA FA -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body style="overflow-y: auto;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid" style="width: 80%; margin-left: 10;">
            <a class="navbar-brand" href="{% url 'homepage' %}">Shop Manager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'homepage' %}">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="{% url 'app:product-list' %}">Products</a>
                <a class="nav-link" href="{% url 'app:order-list' %}">Orders</a>
                <a class="nav-link" href="{% url 'app:employee-list' %}">Employees</a>
                <a class="nav-link" href="{% url 'app:client-list' %}">Clients</a>
                <a class="nav-link" href="{% url 'reportpage' %}">Report</a>
            </div>
            </div>
        </div>
    </nav><br><br>
    
    <div class="content" style="width: 80%; margin-left: 10%;"><br><br>
        <div style="width: 100%">

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
                            <div id="liveToast" class="toast" data-autohide="false" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
                                <div class="toast-header">
                                    <img src="https://cdn-icons-png.flaticon.com/512/3361/3361382.png" class="rounded mr-2" alt="..." width="20" height="20">
                                    <strong class="mr-auto">Assistant</strong>
                                    <small>A second ago.</small>
                                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="toast-body">
                                    {{ message }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}

            <script>
                $(document).ready(function() {
                    $(".toast").toast('show');
                });
            </script>

            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>