{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="jumbotron" style="width: 70%; margin-left: 15%; font-size:1.2rem;">
        <h3 class="display-4">Warning!</h3>
        <br>
        <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <h4 class="font-weight-light">Are you trying to delete object named "{{ object }}"?</h4>
            <input class='btn btn-danger btn-lg' type="submit" value="Confirm" style="width: 100%;">
        </form>
    </div>
{% endblock %}