{% extends "base.html" %}

{% block content%}
    <div style="width: 90%; margin-left: 5%;">
        <div class="position-fixed card" style="width: 18rem;">
            <div class="card-header">
              Select topic
            </div>
            <ul class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action" href="{% url 'employees:employee-list' %}">Employees</a>
                <a class="list-group-item list-group-item-action" href="{% url 'employees:position-list' %}">Positions</a>
            </ul>
        </div>

        {% include "list.html" %}
        
    </div>
{% endblock %}