{% extends "base.html" %}
{% block content%}

    <div class="jumbotron" style="width: 90%; margin-left: 5%;">
        <h1 class="display-4">Oops... Something went wrong :( 
        </h1>
        {% if code == 404 %}
            <p class="lead">Not found what you are looking for, please make sure you are using the app correctly. Error code {{code}}</p>
        {% elif code == 500 %}
            <p class="lead">Something you are trying to do is prohibited... Error code {{code}}<br><br>
                <strong>Probable reasons are: </strong> 
                <ul> 
                    <li>You are trying to illegally delete an object connected with another object(s). <br><strong>Solution:</strong> Delete object that do not include another object in the form at first. <strong>For example</strong> firstly delete a Product and then the Producer.</li>
                </ul>
            </p>
        {% else %}
            <p class="lead">Please make sure you are using the app correctly.</p>
        {% endif %}
        <hr class="my-4">
        <p>To see each component and learn how it works, click the button below.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'aboutpage' %}" role="button">Learn more</a>
    </div>
{% endblock %}
