<div class="card" style="width: 75%; margin-left: 25%;">
    <ul class="list-group list-group-flush">
        <div class="card-header">
            
            {% if results %}
                <h3>{{ name }}</h3>
                <h4 class="font-weight-light" style="float: left; margin-bottom: 0;">{{ results }}</h4>
            {% else %}
                <h3 style="float:left; margin-bottom: 0;">{{ name }}</h3>
            {% endif %}
            <form method="post">{% csrf_token %}
                <div class="input-group mb-3" style="width: 40%; height:20%; float:right;">
                    <input type="text" class="form-control btn-sm" placeholder="Search for..." aria-label="Recipient's username" aria-describedby="button-addon2" style="width: 70%; float: left;" name="search" maxlength="20">
                    <button class="btn btn-outline-secondary btn-sm" type="submit" id="button-addon2" style="float: right;"><span class="fa fa-search"></span></button>
                    <a href="create/" class="btn btn-sm btn-secondary" style="float: right; margin-left: 2%;"><span class="fa fa-plus" style="margin-top: 7px;"></span></a>
                </div>
            </form>
          </div>
        {% for obj in object_list %}
            {% if name == 'Products' %}
                <a class="list-group-item list-group-item-action" href="{{ obj.code }}">{{ obj }}</a>
            {% else %}
                <a class="list-group-item list-group-item-action" href="{{ obj.id }}">{{ obj }}</a>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<nav aria-label="Page navigation example" style="width: 55%; margin-left: 25%; margin-top:2%;">
    <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        <li class="page-item"><span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span></li>
        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>