<div class="position-fixed card" style="width: 15%; font-size: 0.8rem;">
    <ul class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" href="{% url 'app:wholesaler-report'%}">Wholesalers</a>
        <a class="list-group-item list-group-item-action" href="{% url 'app:producer-report'%}">Producers</a>
        <a class="list-group-item list-group-item-action" href="{% url 'app:category-report'%}">Categories</a>
        <a class="list-group-item list-group-item-action" href="{% url 'app:product-report'%}">Products</a>
        <a class="list-group-item list-group-item-action" href="{% url 'app:delivered-items-report'%}">Delivered Items</a>
        <a class="list-group-item list-group-item-action" href="{% url 'app:address-report'%}">Addresses</a>
        <a class="list-group-item list-group-item-action" href="{% url 'app:order-report'%}">Orders</a>
        <a class="list-group-item list-group-item-action" href="{% url 'app:items-report'%}">Items in Orders</a>
        <a class="list-group-item list-group-item-action" href="{% url 'app:payment-report'%}">Payments</a>
        <a class="list-group-item list-group-item-action" href="{% url 'app:employee-report' %}">Employees</a>
        <a class="list-group-item list-group-item-action" href="{% url 'app:position-report' %}">Positions</a>
        <a class="list-group-item list-group-item-action" href="{% url 'app:client-report' %}">Clients</a>
    </ul>
</div>