<div class="position-fixed card" style="width: 15%;">
    <div class="card-header">
      Select topic
    </div>
    <ul class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action" href="{% url 'products:wholesaler-report'%}">Wholesalers</a>
        <a class="list-group-item list-group-item-action" href="{% url 'products:producer-report'%}">Producers</a>
        <a class="list-group-item list-group-item-action" href="{% url 'products:category-report'%}">Categories</a>
        <a class="list-group-item list-group-item-action" href="{% url 'products:product-report'%}">Products</a>
        <a class="list-group-item list-group-item-action" href="{% url 'products:delivered-items-report'%}">Delivered Items</a>
        <a class="list-group-item list-group-item-action" href="{% url 'orders:order-list'%}">Orders</a>
        <a class="list-group-item list-group-item-action" href="{% url 'orders:payment-list'%}">Payments</a>
        <a class="list-group-item list-group-item-action" href="{% url 'employees:employee-list' %}">Employees</a>
        <a class="list-group-item list-group-item-action" href="{% url 'employees:position-list' %}">Positions</a>
        <a class="list-group-item list-group-item-action" href="{% url 'clients:client-list' %}">Clients</a>
    </ul>
</div>