{% extends "base.html" %}

{% block content %}
    <div style="width: 90%; margin-left: 5%; font-size:1.2rem;">
        <div class="card" style="width: 80%; margin-left: 10%;">
            <div class="card-body">
              <h1 class="card-title">{{ object }}</h1>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Name:</strong> {{ object.name }}</li>
              <li class="list-group-item"><strong>Surname:</strong> {{ object.surname }}</li>
              <li class="list-group-item"><strong>Phone:</strong> {{ object.phone_number }}</li>
              <li class="list-group-item"><strong>Email:</strong> {{ object.email }}</li>
              <li class="list-group-item"><strong>Salary:</strong> {{ object.salary }}PLN</li>
              <li class="list-group-item"><strong>Hours per week:</strong> {{ object.hours_per_week }}</li>
              <a class="list-group-item list-group-item-action" href="{% url 'employees:position-detail' object.position.id %}"><strong>Position:</strong> {{ object.position }}</a>
              <li class="list-group-item">TODO Employee's orders</li>
            </ul>
        </div>
    </div>
{% endblock %}