{% extends "base.html" %}

{% block content %}
    <div style="width: 90%; margin-left: 5%; font-size:1.2rem;">
        <div class="card" style="width: 80%; margin-left: 10%;">
            <div class="card-header">
              <a href="#" class="btn btn-danger" style="float: right; width: 15%; margin-top: 1%;"> Delete </a>
              <a href="update/" class="btn btn-primary" style="float: right; width: 15%; margin-right: 2%; margin-top: 1%;"> Update </a>
              <h1 class="card-title">{{ object }}</h1>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Name:</strong> {{ object.name }}</li>
              <li class="list-group-item"><strong>Surname:</strong> {{ object.surname }}</li>
              <li class="list-group-item"><strong>Phone:</strong> {{ object.phone_number }}</li>
              <li class="list-group-item"><strong>Email:</strong> {{ object.email }}</li>
              <li class="list-group-item"><strong>Salary:</strong> {{ object.salary }}PLN</li>
              <li class="list-group-item"><strong>Hours per week:</strong> {{ object.hours_per_week }}</li>
              <a class="list-group-item list-group-item-action" href="{% url 'employees:position-detail' object.position.id %}"><strong>Position:</strong> {{ object.position }}</a>
            </ul>
        </div>

        {% if orders %}
        <br>
        <div class="card" style="width: 80%; margin-left: 10%;">
          <div class="card-header">
            <h1 class="card-title">Orders</h1>
          </div>
          <ul class="list-group list-group-flush">
            {% for order in orders %}
              <a class="list-group-item list-group-item-action" href="{% url 'orders:order-detail' order.id %}">{{ order }}</a>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
    </div>
{% endblock %}