{% extends "base.html" %}

{% block content %}
    <div style="width: 90%; margin-left: 5%; font-size:1.2rem;">
        <div class="card" style="width: 80%; margin-left: 10%;">
            <div class="card-header">
              <a href="#" class="btn btn-danger" style="float: right; width: 15%; margin-top: 1%;"> Delete </a>
              <a href="update/" class="btn btn-primary" style="float: right; width: 15%; margin-right: 2%; margin-top: 1%;"> Update </a>
              <h1 class="card-title">{{ object.name }}</h1>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Salary min:</strong> {{ object.salary_min }}PLN</li>
              <li class="list-group-item"><strong>Salary max:</strong> {{ object.salary_max }}PLN</li>
            </ul>
        </div>
    </div>
{% endblock %}