{% extends "base.html" %}

{% block content %}
  <div style="width: 90%; margin-left: 5%; font-size:1.2rem;">
    <div class="card" style="width: 80%; margin-left: 10%;">
        <div class="card-header">
          <a href="delete/" class="btn btn-danger" style="float: right; margin-top: 1%;"><span class="fa fa-trash"></span></a>
          <a href="update/" class="btn btn-primary" style="float: right; margin-right: 2%; margin-top: 1%;"><span class="fa fa-pencil"></span></a>
          <h1 class="card-title">{{ object.name }}</h1>
          <p class="card-text">{{ object.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Code:</strong> {{ object.code }}</li>
          {% if object.category %}
            <a class="list-group-item list-group-item-action" href="{% url 'products:category-detail' object.category.id %}"><strong>Category:</strong> {{ object.category }}</a>
          {% else %}
            <li class="list-group-item"><strong>Category:</strong> Deleted</li>
          {% endif %}
          {% if object.producer %}
            <a class="list-group-item list-group-item-action" href="{% url 'products:producer-detail' object.producer.id %}"><strong>Producer:</strong> {{ object.producer }}</a>
          {% else %}
            <li class="list-group-item"><strong>Producer:</strong> Deleted</li>
          {% endif %}
        </ul>
    </div>
    <br>
  </div>
{% endblock %}
