{% extends "base.html" %}

{% block content %}
    <div style="width: 90%; margin-left: 5%; font-size:1.2rem;">
        <div class="card" style="width: 80%; margin-left: 10%;">
            <div class="card-body">
              <a href="delete/" class="btn btn-danger" style="float: right; margin-top: 1%;"><span class="fa fa-trash"></span></a>
              <a href="update/" class="btn btn-primary" style="float: right; margin-right: 2%; margin-top: 1%;"><span class="fa fa-pencil"></span></a>
              <h1 class="card-title">{{ object.name }}</h1>
              <a class="card-text" href='https://{{ object.website }}'>{{ object.website }}</a>
            </div>
        </div>

        {% if products %}
        <br>
        <div class="card" style="width: 80%; margin-left: 10%;">
          <div class="card-header">
            <h1 class="card-title">Products</h1>
          </div>
          <ul class="list-group list-group-flush">
            {% for product in products %}
              <a class="list-group-item list-group-item-action" href="{% url 'products:product-detail' product.code %}">{{ product }}</a>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        <br>
    </div>
{% endblock %}
