{% extends "base.html" %}

{% block content %}
    <div style="width: 90%; margin-left: 5%; font-size:1.2rem;">
        <div class="card" style="width: 80%; margin-left: 10%;">
            <div class="card-body">
              <h1 class="card-title">Address</h1>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Street:</strong> {{ object.street }} {{object.number}}</li>
              <li class="list-group-item"><strong>City:</strong> {{ object.city }}</li>
              <li class="list-group-item"><strong>Post code:</strong> {{ object.post_code }}</li>
              <li class="list-group-item"><strong>Country:</strong> {{ object.country }}</li>
            </ul>
        </div>
    </div>
{% endblock %}
