{% extends "base.html" %}

{% block content%}
    <div style="width: 90%; margin-left: 5%;">
        <div class="position-fixed card" style="width: 15%;">
            <div class="card-header">
              Select topic
            </div>
            <ul class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action" href="{% url 'orders:order-list'%}">Orders</a>
                <a class="list-group-item list-group-item-action" href="{% url 'orders:payment-list'%}">Payments</a>
            </ul>
        </div>

        {% include "list.html" %}
        
    </div>
{% endblock %}