{% extends "base.html" %}

{% block content %}
    <div style="width: 90%; margin-left: 5%; font-size:1.2rem;">
        <div class="card" style="width: 80%; margin-left: 10%;">
            <div class="card-header">
              <a href="delete/" class="btn btn-danger" style="float: right; width: 15%; margin-top: 1%;"> Delete </a>
              <a href="update/" class="btn btn-primary" style="float: right; width: 15%; margin-right: 2%; margin-top: 1%;"> Update </a>
              <h1 class="card-title">{{ object }}</h1>
              <p class="card-text">{{ object.comment }}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Date:</strong> {{ object.date }}</li>
              <li class="list-group-item"><strong>Status:</strong> {{ object.status }}</li>
              <a class="list-group-item list-group-item-action" href="{% url 'clients:client-detail' object.client.id %}"><strong>Client:</strong> {{ object.client }}</a>
              <a class="list-group-item list-group-item-action" href="{% url 'orders:address-detail' object.address.id %}"><strong>Address:</strong> {{ object.address }}</a>
              <a class="list-group-item list-group-item-action" href="{% url 'employees:employee-detail' object.employee.id %}"><strong>Employee:</strong> {{ object.employee }}</a>
            </ul>
        </div>

        {% if items %}
        <br>
        <div class="card" style="width: 80%; margin-left: 10%;">
          <div class="card-header">
            <h1 class="card-title">Items in order</h1>
          </div>
          <ul class="list-group list-group-flush">
            {% for item in items %}
              <a class="list-group-item list-group-item-action" href="{% url 'orders:items-detail' item.id %}">{{ item}}</a>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        {% if payments %}
        <br>
        <div class="card" style="width: 80%; margin-left: 10%;">
          <div class="card-header">
            <h1 class="card-title">Payments</h1>
          </div>
          <ul class="list-group list-group-flush">
            {% for payment in payments %}
              <a class="list-group-item list-group-item-action" href="{% url 'orders:payment-detail' payment.id %}">{{ payment }}</a>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        <br>
    </div>
{% endblock %}

